<section class="bg-white px-6 py-24 sm:py-32 lg:px-8">
  <figure class="mx-auto max-w-2xl">
    <p class="sr-only">5 out of 5 stars</p>
    <div class="flex gap-x-1 text-primary-600">
      <svg
        viewBox="0 0 20 20"
        fill="currentColor"
        data-slot="icon"
        aria-hidden="true"
        class="size-5 flex-none"
      >
        <path
          d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401Z"
          clip-rule="evenodd"
          fill-rule="evenodd"></path>
      </svg>
      <svg
        viewBox="0 0 20 20"
        fill="currentColor"
        data-slot="icon"
        aria-hidden="true"
        class="size-5 flex-none"
      >
        <path
          d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401Z"
          clip-rule="evenodd"
          fill-rule="evenodd"></path>
      </svg>
      <svg
        viewBox="0 0 20 20"
        fill="currentColor"
        data-slot="icon"
        aria-hidden="true"
        class="size-5 flex-none"
      >
        <path
          d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401Z"
          clip-rule="evenodd"
          fill-rule="evenodd"></path>
      </svg>
      <svg
        viewBox="0 0 20 20"
        fill="currentColor"
        data-slot="icon"
        aria-hidden="true"
        class="size-5 flex-none"
      >
        <path
          d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401Z"
          clip-rule="evenodd"
          fill-rule="evenodd"></path>
      </svg>
      <svg
        viewBox="0 0 20 20"
        fill="currentColor"
        data-slot="icon"
        aria-hidden="true"
        class="size-5 flex-none"
      >
        <path
          d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401Z"
          clip-rule="evenodd"
          fill-rule="evenodd"></path>
      </svg>
    </div>
    <blockquote
      class="mt-10 text-xl/8 font-semibold tracking-tight text-gray-900 sm:text-2xl/9"
    >
      <p>
        “I recently had the pleasure of training at NV Flight and I couldn't be more impressed with their program. The instructors are incredibly knowledgeable and patient, making sure every student fully understands each concept. The aircraft are well-maintained and equipped with the latest technology, ensuring a safe and efficient learning environment. The staff is friendly and always willing to help with any questions or concerns. I highly recommend NV Flight to anyone looking to pursue their passion for flying. They truly go above and beyond to make sure their students succeed.”
      </p>
    </blockquote>
    <figcaption class="mt-10 flex items-center gap-x-6">
      <!-- <img
        src="https://images.unsplash.com/photo-1550525811-e5869dd03032?ixlib=rb-=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=1024&h=1024&q=80"
        alt=""
        class="size-12 rounded-full bg-gray-50"
      /> -->
      <div class="text-sm/6">
        <div class="font-semibold text-gray-900">Nicholas G.</div>
        <div class="mt-0.5 text-gray-600">Student Pilot</div>
      </div>
    </figcaption>
  </figure>
</section>
